.services-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Heading */
.services-container h3{
    font: var(--h3);
    color: var(--secondary-color);
}

/* Services cards */
.services-container .services-card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--space-lg2);
    margin: var(--space-lg2) var(--space-lg2) var(--space-xxl3);
    max-width: 1139px;
}

@media only screen and (max-width: 768px){
    .services-container .services-card-container{
        margin-bottom: var(--space-xxl2);
    }
}

@media only screen and (max-width: 479px){
    .services-container .services-card-container{
        margin: var(--space-lg2) var(--space-sm) var(--space-xxl2);
    }
}