.all-projects-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-light);
    padding: var(--space-xxl2) 0;
    border-radius: 80px;
}

.all-projects-container .projects-title{
    font: var(--h2);
    background: var(--primary-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.all-projects-container .projects-category-container{
    display: flex;
    flex-direction: column;
    gap: var(--space-lg2);
    margin-top: var(--space-lg2);
}