.services-card{
    display: inline-block;
    background-image: var(--white-gradient);
    padding: var(--space-xl);
    max-width: 336px;
    border-radius: 30px;
    box-shadow: var(--services-card-shadow);
}

.services-card h6{
    font: var(--h6);
    color: var(--black);
    margin-top: var(--space-md);
}

.services-card p{
    font: var(--p);
    color: var(--black);
    margin-top: var(--space-sm);
}

@media only screen and (max-width: 850px){
    .services-card{
        max-width: 300px;
    }
}

@media only screen and (max-width: 739px){
    .services-card{
        max-width: 400px;
        text-align: center;
    }
}

@media only screen and (max-width: 500px){
    .services-card{
        max-width: 80%;
    }
}