.project-card-container{
    max-width: 938px;
    max-height: 353px;
    border-radius: 24px;
    overflow: hidden;
    box-shadow: var(--project-card-shadow);
    animation: fadeIn 500ms ease-in-out;
}
@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.title-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: var(--black-gradient);
    padding: var(--space-sm) var(--space-lg);
}

.title-container h4{
    font: var(--h4);
    color: var(--background-color);
}

.content-container{
    display: flex;
}

/* Image */
.content-container .image-container{
    display: flex;
}
.content-container .image-container img{
    width: 500px;
    height: 283px;
    object-fit: cover;
}

.content-container .details-container{
    background-color: var(--background-color);
    padding: var(--space-md) var(--space-lg);
}

.content-container .details-container p{
    font: var(--p);
    color: var(--black);
    margin-bottom: var(--space-sm);
}

.details-container .button-container{
    display: flex;
    gap: var(--space-sm);
}

@media only screen and (max-width: 1145px){
    .project-card-container{
        width: 700px;
        max-height: fit-content;
    }
    .title-container{
        position: relative;
    }
    .title-container .tag{
        position: absolute;
        bottom: -40px;
        right: var(--space-xs);
    }
    .content-container .image-container img{
        width: 700px;
    }
    .content-container{
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 930px){
    .project-card-container{
        width: 500px;
    }
    .content-container .image-container img{
        width: 100%;
        aspect-ratio: 16/9;
    }
}

@media only screen and (max-width: 739px){
    .project-card-container{
        width: 400px;
    }
    .content-container .image-container img{
        width: 100%;
        height: auto;
    }
}

@media only screen and (max-width: 640px){
    .project-card-container{
        width: 100%;
    }
    .content-container .image-container img{
        width: 100%;
        height: auto;
    }
}