.about-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: var(--space-xxl2);
}

.about-container .about-title{
    font: var(--h2);
    background: var(--primary-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about-container .about-description{
    font: var(--p);
    color: var(--black);
    max-width: 790px;
    text-align: center;
    margin: var(--space-lg2) 0 var(--space-xxl);
}

@media only screen and (max-width: 930px){
    .about-container .about-description{
        max-width: 600px;
    }
}

@media only screen and (max-width: 768px){
    .about-container .about-description{
        margin-left: var(--space-xl);
        margin-right: var(--space-xl);
    }
}

@media only screen and (max-width: 510px){
    .about-container .about-description{
        margin-left: var(--space-md);
        margin-right: var(--space-md);
    }
}