.all-web-design-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 9rem 0 var(--space-xxl2);
}

.all-web-design-container h1{
    font: var(--h1);
    background: var(--primary-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    margin: 0 var(--space-xxl);
}

.all-web-design-container .all-web-design-projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--space-xxl4);
    margin-top: var(--space-xxl2);
}

@media only screen and (max-width: 580px){
    .all-web-design-container{
        padding: var(--space-xxl2) 0;
    }
}