/* Frontend Projects Section */
.frontend-projects-container,
.web-design-projects-container,
.ui-ux-projects-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.frontend-projects-container h3,
.web-design-projects-container h3,
.ui-ux-projects-container h3{
    font: var(--h3);
    color: var(--black);
}

.project-container{
    margin: var(--space-lg2) var(--space-xl);
    position: relative;
}

/* Web Design, UI/UX Design Projects Sections */
.web-design-projects-container, .ui-ux-projects-container{
    padding-top: var(--space-xxl2);
}

/* Projects sections previous and next buttons */
.prev-btn, .next-btn{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    transition: var(--transition);
}
@media(hover: hover){
    .prev-btn:not(:disabled):hover, .next-btn:not(:disabled):hover{
        background-color: var(--white);
    }
}

.project-container .prev-btn:active, .project-container .next-btn:active{
    background-color: var(--primary-color);
}

.project-container .prev-btn{
    left: clamp(-100px, -15vw, -85px);
}

.project-container .next-btn{
    right: clamp(-100px, -15vw, -85px);
}

.next-btn .next-btn-icon{
    transform: rotate(180deg);
}

.project-container .prev-btn:disabled, .project-container .next-btn:disabled{
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.3;
}

@media only screen and (max-width: 768px){
    .web-design-projects-container, .ui-ux-projects-container{
        padding-top: var(--space-lg2);
    }
}

@media only screen and (max-width: 739px){
    .prev-btn, .next-btn{
        top: 40%;
        opacity: 0.5;
    }
    .project-container .prev-btn{
        left: var(--space-xs);
    }
    .project-container .next-btn{
        right: var(--space-xs);
    }
    .project-container .prev-btn:disabled, .project-container .next-btn:disabled{
        opacity: 0.01;
    }
}

@media only screen and (max-width: 610px){
    .project-container{
        margin: var(--space-lg2) var(--space-lg);
    }
}

@media only screen and (max-width: 510px){
    .project-container{
        margin: var(--space-lg2) var(--space-sm);
    }
}

@media only screen and (max-width: 400px){
    .prev-btn, .next-btn{
        top: 30%;
    }
}

@media only screen and (max-width: 331px){
    .prev-btn, .next-btn{
        top: 25%;
    }
}