.tools-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: var(--space-xxl3);
}

/* Main heading */
.tools-container h3{
    font: var(--h3);
    color: var(--secondary-color);
    margin-bottom: var(--space-lg2);
}

/* Subheading */
.tools-container .tools-type h5{
    font: var(--h5);
    text-transform: uppercase;
    color: var(--black);
    margin-bottom: var(--space-lg);
}

/* Tools Labels */
.tools-container .tools-type .tool-label-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: var(--space-md);
    max-width: 939px;
}

.tools-container .tools-type:not(:last-child){
    margin-bottom: calc(var(--space-xl) + var(--space-xs));
}

@media only screen and (max-width: 930px){
    .tools-container .tools-type .tool-label-container{
        max-width: 800px;
        gap: var(--space-sm);
        margin: 0 var(--space-lg2);
    }
}

@media only screen and (max-width: 768px){
    .tools-container{
        margin-bottom: var(--space-xxl2);
    }
}

@media only screen and (max-width: 479px){
    .tools-container .tools-type .tool-label-container{
        margin: 0 var(--space-sm);
        gap: var(--space-xs);
    }
}