.working-step-container{
    color: var(--black);
    position: relative;
}

.number-background{
    position: absolute;
    display: inline-block;
    width: 72px;
    height: 72px;
    background-color: var(--grey);
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.number-background .step-number{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font: var(--h3);
    color: var(--white);
    z-index: 2;
}

.step-content{
    background-image: var(--white-gradient);
    padding: var(--space-lg) var(--space-lg) var(--space-lg) var(--space-xxl);
    border-radius: 20px;
    box-shadow: var(--process-card-shadow);
    max-width: 800px;
    margin-left: calc(var(--space-lg) + var(--space-xxs));
}

.step-content h6{
    font: var(--h6);
    margin-bottom: var(--space-xs);
}

.step-content p{
    font: var(--p);
}

@media only screen and (max-width: 930px){
    .step-content{
        max-width: 600px;
    }
}

@media only screen and (max-width: 739px){
    .step-content{
        max-width: 540px;
    }
}

@media only screen and (max-width: 640px){
    .step-content{
        width: auto;
    }
}

@media only screen and (max-width: 540px){
    .number-background{
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    .step-content{
        padding: var(--space-xxl) var(--space-lg2) var(--space-lg2);
        margin-left: 0;
        margin-top: calc(var(--space-lg) + var(--space-xxs));
    }

    .step-content h6{
        margin-bottom: var(--space-sm);
    }
}

@media only screen and (max-width: 379px){
    .step-content{
        padding: var(--space-xxl) var(--space-lg) var(--space-lg);
    }
}