.all-frontend-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 144px 0 80px;
}

.all-frontend-container h1{
    font: var(--h1);
    background: var(--primary-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    margin: 0 var(--space-xxl);
}

.all-frontend-container .all-frontend-projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 160px;
    margin-top: 80px;
}