footer{
    background-color: var(--primary-light);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 160px;
    padding: calc(var(--space-lg) + var(--space-xs)) var(--space-xxl);
    border-radius: 128px 128px 0 0;
    color: var(--grey);
}

/* Email send link */
.email-link a{
    display: inline-flex;
    gap: var(--space-xs);
    align-items: center;
    transition: var(--transition);
}
.email-link a p{
    font: var(--h5);
}
.email-link .icon{
    display: block;
    fill: var(--grey);
    transition: var(--transition);
}
@media(hover: hover){
    .email-link a:hover{
        color: var(--secondary-color);
    }
    .social-links .icon:hover{
        fill: var(--secondary-color);
    }
    .email-link a:hover .icon{
        fill: var(--secondary-color);
    }
}

.email-link a:active{
    color: var(--primary-color);
}
.social-links .icon:active{
    fill: var(--primary-color);
}
.email-link a:active .icon{
    fill: var(--primary-color);
}

.email-link a, .social-links a{
    text-decoration: none; /* Remove underline from the email link */
    color: inherit; /* Use text color */
}

/* Social networks links */
.social-links{
    display: flex;
    gap: var(--space-md);
}
.social-links .icon{
    display: block;
    fill: var(--grey);
    transition: var(--transition);
}
.social-links a, .social-links .icon, .social-links .icon svg{
    border-radius: 50%;
}

/* Site copyright text */
.copyright-text{
    font: var(--p);
    display: inline;
}

@media only screen and (max-width: 1080px){
    footer{
        gap: 120px;
    }
}

@media only screen and (max-width: 930px){
    footer{
        border-radius: 80px 80px 0 0;
        flex-wrap: wrap;
        gap: 160px;
        row-gap: 40px;
    }
}

@media only screen and (max-width: 640px){
    footer{
        gap: 80px;
        row-gap: 40px;
    }
}