/* Define the Regular Weight */
@font-face {
    font-family: 'Manrope';
    src: url('./assets/fonts/Manrope-Regular.woff2') format('truetype');
    font-weight: 400; /* Regular weight */
    font-style: normal;
}

/* Define the Bold Weight */
@font-face {
    font-family: 'Manrope';
    src: url('./assets/fonts/Manrope-Bold.woff2') format('truetype');
    font-weight: 700; /* Bold weight */
    font-style: normal;
}

:root{
    /* Colors */
    --primary-color: hsl(178, 58%, 55%);
    --primary-light: hsl(180, 32%, 92%);
    --secondary-color: hsl(181, 64%, 37%);
    --primary-gradient: linear-gradient(12deg, var(--primary-color), var(--secondary-color));
    --background-color: hsl(0, 0%, 96%);
    --white: hsl(0, 0%, 100%);
    --white-gradient: linear-gradient(-37deg, var(--background-color), var(--white));
    --grey: hsl(0, 0%, 26%);
    --black: hsl(180, 10%, 14%);
    --black-gradient: linear-gradient(to right, var(--black), var(--grey));

    /* Typography */
    --ff: "Manrope", sans-serif;
    --h1: bold clamp(2.5rem, 5vw, 3rem) / clamp(3.125rem, 1.2 * 5vw, 3.625rem) var(--ff);      /* 48px/58px */
    --h2: bold clamp(2rem, 4vw, 2.5rem) / clamp(2.5rem, 1.2 * 4vw, 3.125rem) var(--ff);    /* 40px/50px */
    --h3: 400 clamp(1.75rem, 3vw, 2.125rem) / clamp(2.25rem, 1.2 * 3vw, 2.75rem) var(--ff);    /* 34px/44px */
    --h4: bold clamp(1.5rem, 2.5vw, 1.75rem) / clamp(2rem, 1.2 * 2.5vw, 2.375rem) var(--ff);   /* 28px/38px */
    --h5: bold clamp(1.25rem, 2vw, 1.5rem) / clamp(1.75rem, 1.2 * 2vw, 2rem) var(--ff);        /* 24px/32px */
    --h6: bold clamp(1rem, 1.5vw, 1.25rem) / clamp(1.5rem, 1.2 * 1.5vw, 1.6875rem) var(--ff);  /* 20px/27px */
    --p: clamp(0.875rem, 1.25vw, 1rem) / clamp(1.5rem, 1.2 * 1.25vw, 1.75rem) var(--ff);             /* 16px/28px */
    --small: clamp(0.75rem, 1vw, 0.875rem) / clamp(1rem, 1.2 * 1vw, 1.25rem) var(--ff);     /* 14px/20px */

    /* Spacing */
    --space-xxs: clamp(0.2rem, 1vw, 0.25rem);  /* 4px */
    --space-xs: clamp(0.4rem, 2vw, 0.5rem);    /* 8px */
    --space-sm: clamp(0.8rem, 3vw, 1rem);      /* 16px */
    --space-md: clamp(1.2rem, 4vw, 1.5rem);    /* 24px */
    --space-lg: clamp(1.6rem, 5vw, 2rem);      /* 32px */
    --space-xl: clamp(2.4rem, 6vw, 3rem);      /* 48px */
    --space-xxl: clamp(3.2rem, 7vw, 4rem);     /* 64px */

    --transition: 0.3s ease-in-out;
    --services-card-shadow: 0 5px 20px hsla(181, 64%, 37%, 0.5);
    --process-card-shadow: 0 4px 10px hsla(181, 64%, 37%, 0.5);
    --project-card-shadow: 0 10px 20px hsla(0, 0%, 26%, 0.25);
    --background-color-nav: hsla(0, 0%, 96%, 0.75);
    --text-shadow1: 0 4px 30px hsla(178, 58%, 55%, 0.8);
}

.dark-mode{
    --primary-color: hsl(178, 58%, 45%);
    --primary-light: hsl(180, 32%, 8%);
    --secondary-color: hsl(181, 64%, 63%);
    --primary-gradient: linear-gradient(12deg, var(--primary-color), var(--secondary-color));
    --background-color: hsl(0, 0%, 4%);
    --white: hsl(0, 0%, 0%);
    --white-gradient: linear-gradient(-37deg, var(--background-color), var(--white));
    --grey: hsl(0, 0%, 74%);
    --black: hsl(180, 10%, 86%);
    --black-gradient: linear-gradient(to right, var(--black), var(--grey));

    --services-card-shadow: 0 5px 20px hsla(181, 64%, 63%, 0.5);
    --process-card-shadow: 0 4px 10px hsla(181, 64%, 63%, 0.5);
    --project-card-shadow: 0 10px 20px hsla(0, 0%, 74%, 0.25);
    --background-color-nav: hsla(0, 0%, 4%, 0.75);
    --text-shadow1: 0 4px 30px hsla(178, 58%, 45%, 0.8);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--ff);
}

body{
    background-color: var(--background-color);
    transition: background-color 0.3s ease-in-out;
}